body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

:root {
  --navbar-height: 65px;
}

.page-navbar {
  height: var(--navbar-height);
}

.page-container {
  padding-top: calc(var(--navbar-height) + 30px);
}
